<div class='container'>
  <div class='row'>
    <% @articles.each do |article| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
          <p><%= article.description %></p>
          <p>Price € : <%= article.price %></p>
        <div class="menu text-center">
          <%= cl_image_tag article.photo.path, width: 200, height: 220, crop: "fill" %>
          <h4 class='menu text-center'>Brand : <%= article.brand.name %></h4>
          <p>Category : <%= article.category.name %></p>
          <p>Style : <%= article.category.style.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
